@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	font-size: 1.2em;
}

i.fa {
	font-size: 0.9em;
}

.center {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.no-padding {
	padding: 0px !important;
}

html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0em;
	padding: 0em;
}

#root {
	height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.modal {
	position: absolute;
	z-index: 9999;
	background-color: white;
	left: 155%;
	top: 50%;
	transform: translate(-50%, -50%);

	transition: left 0.25s ease-in-out;

	&.modal-container {
		left: 50%;
		opacity: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.25);

		transition: opacity 0.25s ease-in-out, z-index 0.25s step-end;

		&.visible {
			opacity: 1;
			z-index: 9999;
			transition: opacity 0.25s ease-in-out, z-index 0.25s step-start;
		}

		.modal-content {
			background-color: #fff;
			padding: 1em;
		}
	}

	&.modal-page {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.75);

		.modal-content {
			flex-grow: 1;
			padding: 2em;
			overflow: auto;
		}
		.modal-bottom-bar {
			flex-basis: 4rem;
			box-sizing: border-box;
			box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);

			&.tabs {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
		}
	}

	&.visible {
		left: 50%;
	}
}

.sidebar {
	position: absolute;
	left: -100%;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	transition: left 0.25s ease-in-out;
	&.active {
		left: 0px;
	}
}

.modal-top-bar,
.sidebar-top-bar {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	flex-basis: 3.5rem;

	font-size: 1.5em;

	box-sizing: border-box;
	box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);

	.modal-icon,
	.sidebar-icon {
		font-weight: 100;
		font-size: 1.75em;
		width: 3.5rem;
	}
}
.spinning {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.page-name {
	background-color: #fff;
	box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);

	display: flex;
	align-items: center;
	justify-content: left;

	height: 3.5rem;
	font-size: 1.25em;

	box-sizing: border-box;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;

	.modal-icon {
		font-size: 1.25em;
		width: 3.5rem;
	}
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.space-evenly {
	justify-content: space-evenly;
}
.page-search {
	height: 100vh;
	overflow: hidden;
	.map-bg {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;

		background: url("https://www.vertical-leap.uk/wp-content/uploads/2017/11/map-1400x800.jpg");
		background-position: center center;
		background-size: cover;
		background-color: #ccc;
		z-index: 1;

		#mapid {
			width: 100%;
			height: 100%;
		}
	}
	.map-content {
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100vh;
		padding: 0em 7px;
		box-sizing: border-box;
		margin: auto;
		overflow: auto;

		scroll-snap-type: y mandatory;

		.map-spacer {
			height: calc(100vh - 3.5em);
			scroll-snap-align: start;
		}
		.content-tabs {
			background: #fff;
			height: calc(100vh - 3.5rem - 7px);
			scroll-snap-align: start;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);
			pointer-events: auto;

			.tab-content {
				flex-grow: 1;
				padding: 1em;
				overflow: auto;
			}

			.tabs {
				height: 3.5em;
				box-shadow: 0px -3px 9px -6px rgba(0, 0, 0, 0.75);
				.tab {
					// height: 100%;
					box-sizing: border-box;
					padding: 1em 0em;
					flex-grow: 1;
					user-select: none;
					text-transform: capitalize;
					&.active {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.map-actions {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		z-index: 9;

		/* // Across side
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		flex-direction: column;
		/*/ // Across top
		left: 50%;
		top: 3.5em;
		transform: translateX(-50%);
		flex-direction: row;
		// */

		button {
			font-size: 1.25em;
			border-radius: 1000em;
			width: 2.5em;
			height: 2.5em;
			margin: 1rem;
			border: none;
			box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
			outline: none;
			background-color: #fff;
		}
	}
}

$box-border-width: 4px;
.box-container {
	width: 50vw;
	height: 50vw;
	.box-child {
		position: absolute;
		border: 0px solid rgba(255, 255, 255, 0.25);
		width: 30%;
		height: 30%;
	}

	.box-child-1 {
		top: 0px;
		left: 0px;

		border-top-width: $box-border-width;
		border-left-width: $box-border-width;
	}
	.box-child-2 {
		bottom: 0px;
		left: 0px;

		border-bottom-width: $box-border-width;
		border-left-width: $box-border-width;
	}
	.box-child-3 {
		top: 0px;
		right: 0px;

		border-top-width: $box-border-width;
		border-right-width: $box-border-width;
	}
	.box-child-4 {
		bottom: 0px;
		right: 0px;

		border-bottom-width: $box-border-width;
		border-right-width: $box-border-width;
	}
}

.qr-action {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 15%;
}
#qr-input {
	display: none;
}

.exitLeft {
	left: -55%;
}

.no-pointer-events {
	pointer-events: none;
}
.leaflet-control-zoom {
	position: relative;
	transform: translateY(-6em);
}

.button {
	border: none;
	background-color: #0074d9;
	transition: transform 0.25s ease-in-out;
	padding: 0.75em 3em;
	color: #fff;
	margin: 0.5em;
}
.search-header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 3.5em;
	max-height: 3.5em;
	box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.team-page {
	.team-list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		.person-display {
			display: grid;
			grid-template-areas: "name arrow" "distance arrow";
			grid-template-columns: auto auto;
			grid-template-rows: 1.5em 1.5em;
			width: 75%;
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
			margin: 0.5em;
			text-align: left;
			padding: 0.25em;

			.person-name,
			.person-location,
			.go-to {
				display: flex;
				// padding: 0em 1em
			}

			.person-location {
				align-items: flex-start;
				padding-left: 0.5em;
				color: #888;

				&:empty:before {
					content: "Unknown";
				}
			}
			.person-name {
				align-items: flex-end;
				padding-left: 0.5em;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.person-name {
				grid-area: name;
			}
			.person-location {
				grid-area: distance;
			}
			.go-to {
				grid-area: arrow;
				align-items: center;
				justify-content: flex-end;
				i {
					padding: 1em;
				}
			}
		}
	}
}

.person-modal {
	.modal-head {
		height: 40%;
		position: relative;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
		#person-map {
			height: 100%;
			pointer-events: none;
			z-index: 1;
		}
		.person-top-bar {
			position: absolute;
			z-index: 2;
			top: 0px;
			left: 0px;
			font-size: 1.5em;
			padding: 0.75rem;
			color: white;
			text-shadow: 0px 0px 3px black;
		}
	}
	.modal-content {
		.name-bar {
			display: flex;
			justify-content: space-between;
			width: 90%;
			margin: auto;
			margin-bottom: 2em;
			.contact-name {
				font-weight: bold;
			}
			.contact-team {
				color: #555;
			}
		}
		dl {
			width: 80%;
			margin: 3em auto;

			dt,
			dd {
				margin: 0.5em 0em;
			}

			dt {
				color: #777;
			}
			dd {
				// margin: 0px;
				margin-bottom: 3em;
			}
		}
	}
	.modal-bottom-bar {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		font-size: 1.5em;

		box-sizing: border-box;
		box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);

		.modal-icon,
		.sidebar-icon {
			font-weight: 100;
			font-size: 2em;
			width: 4rem;
		}
	}
}
